<form class="" [formGroup]="registerForm" (ngSubmit)="update(registerForm.value, registerForm.valid)">
    <mat-card>
      <mat-card-title>Update Requirement</mat-card-title>
      <mat-card-content>
        <!--
          <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        -->
        <table class="table_width">
          <tr>
              <td>
                  <mat-form-field appearance="outline">
                    <mat-label>EUC Reference Id.</mat-label>
                    <input matInput formControlName="eucRefId">
                    <mat-hint>E.g.: A-1008</mat-hint>
                  </mat-form-field>
                </td>
          <td>
              <mat-form-field appearance="outline">
                <mat-label>RGS Id.</mat-label>
                <input matInput formControlName="rgsId" pattern="[0-9]*">
                <mat-error *ngIf="registerForm.controls.rgsId.hasError('required')">Please provide RGS Id.</mat-error>
                <mat-error *ngIf="registerForm.controls.rgsId.hasError('pattern')">Please provide numeric RGS Id.</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Requirement Id.</mat-label>
                <input matInput formControlName="reqId" disable>
                <mat-error *ngIf="registerForm.controls.reqId.hasError('required')">Please provide Requirement Id.</mat-error>
                <mat-error *ngIf="registerForm.controls.rgsId.hasError('pattern')">Please provide numeric Requirement Id.</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Account</mat-label>
                <input matInput formControlName="account">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Position Owner</mat-label>
                <input matInput formControlName="positionOwner" >
                <mat-error *ngIf="registerForm.controls.positionOwner.hasError('required')">Please provide the name of
                  the owner for this positin</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Site</mat-label>
                <input matInput formControlName="site">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Open Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="openDate" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
                <mat-error *ngIf="registerForm.controls.openDate.hasError('required')">Please provide open date</mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="startDate" >
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker2></mat-datepicker>
                <mat-error *ngIf="registerForm.controls.openDate.hasError('required')">Please provide start date</mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <input matInput formControlName="location">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Position</mat-label>
                <input matInput formControlName="position">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Skill Category</mat-label>
                <input matInput formControlName="skillCategory" >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Main Skill</mat-label>
                <input matInput formControlName="mainSkill" >
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Additional Skills</mat-label>
                <input matInput formControlName="additionalSkill">
              </mat-form-field>
            </td>
          </tr>
          <tr>
              <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Experience Band</mat-label>
                    <input matInput formControlName="expBand" >
                  </mat-form-field>
                </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Domain</mat-label>
                <input matInput formControlName="domain">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Project Name</mat-label>
                <input matInput formControlName="projectName">
              </mat-form-field>
            </td>
          </tr>
          <tr>
              <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Requirement Status</mat-label>
                    <input matInput formControlName="status">
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Close Date</mat-label>
                      <input matInput formControlName="closedDate">
                    </mat-form-field>
                  </td>
                  <td>
                      <mat-form-field appearance="outline">
                        <mat-label>Closed By</mat-label>
                        <input matInput formControlName="closedBy">
                      </mat-form-field>
                    </td>
              </tr>
        </table>
        <br />
        <button mat-button routerLink="/">
          <mat-icon>chevron_left</mat-icon><span style="text-align: center;">Back</span>
        </button>
        <button mat-raised-button type="submit" color="primary">Update</button>
      </mat-card-content>
    </mat-card>
  </form>