<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav-container" mode="side" opened>
    <!--
      <mat-toolbar color="primary" class="">
        <h1 class="">Register</h1>
      </mat-toolbar>
    -->
    <mat-nav-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>dashboard</mat-icon>
        </button>
        <a href="/">Dashboard</a>
        <!--<a matLine href="/">Dashboard</a>-->
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>border_color</mat-icon>
          <!--<mat-icon>create</mat-icon>-->
        </button>
        <a href="/newreq">New Requirement</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>add_box</mat-icon>
        </button>
        <a href="/register">Register</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>list</mat-icon>
        </button>
        <a href="/list">List</a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-drawer>
  <mat-toolbar color="primary" class="toolbar-spacer">
    <h1 class=""> Resource Management </h1>
  </mat-toolbar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>