<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav-container" mode="side" opened>
    <!--
      <mat-toolbar color="primary" class="">
        <h1 class="">Register</h1>
      </mat-toolbar>
    -->
    <mat-list>
      <mat-list-item>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button routerLink="/">Home</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button routerLink="/register">Register</button></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><button mat-button routerLink="/list">List</button></mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-toolbar color="primary" class="toolbar-spacer">
    <h1 class=""> Resource Management </h1>
  </mat-toolbar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>