<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="" mode="side" opened>
    <mat-toolbar color="primary" class="">
      <h1 class="">Register</h1>
    </mat-toolbar>
    <button mat-icon-button><mat-icon>menu</mat-icon></button>
    <mat-list>
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/">Home</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><a routerLink="/register">Register</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>List</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-toolbar color="primary" class="toolbar-spacer">
    <h1 class="">Register</h1>
  </mat-toolbar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
