<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav-container" mode="side" opened>
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button routerLink="/home">
            <mat-icon>dashboard</mat-icon>
          </button>
          <a mat-button [matMenuTriggerFor]="dashboardmenu">Dashboard</a>
          <mat-menu #dashboardmenu="matMenu">
            <a routerLink="/home" mat-menu-item>
            <mat-icon>dashboard </mat-icon> Skill Wise
           </a>
           <a routerLink="/home/domainWise/domainWise" mat-menu-item>
            <mat-icon>domain</mat-icon>Domain Wise
           </a>
           <a routerLink="/home/ownerWise/ownerWise" mat-menu-item>
            <mat-icon>filter_list</mat-icon>Owner Wise
           </a>
            <a routerLink="/home/projectWise/projectWise" mat-menu-item>
            <mat-icon>filter_list</mat-icon> Project Wise
            </a>
            <a routerLink="/home/monthWise/monthWise" mat-menu-item>
              <mat-icon>filter_list</mat-icon> Monthly Report
              </a>
            <a routerLink="/home/customFilter/customFilter"  mat-menu-item>
            <mat-icon>search</mat-icon>Custom Dates
            </a>
          </mat-menu>
  </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/newreq">
            <mat-icon>border_color  </mat-icon>   New Requirement 
          </button>
       </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/listdetails">
            <mat-icon>list</mat-icon> Requirement List
          </button>
         </mat-list-item>
        <mat-divider></mat-divider>
       <mat-list-item>
          <button mat-icon-button routerLink="/register">
            <mat-icon>add_box</mat-icon> Register
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/list">
            <mat-icon>list</mat-icon> List
          </button>
      </mat-list-item>
     <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/">
            <mat-icon>details</mat-icon>
          </button>
          <a mat-button [matMenuTriggerFor]="profileMenu">My Profile</a>
          <mat-menu #profileMenu="matMenu">
            <a routerLink="/" mat-menu-item>
              <mat-icon>person</mat-icon> Update Profile
            </a>
            <a routerLink="/" mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>Logout
            </a>
          </mat-menu>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
     </mat-drawer>
<mat-drawer-content>
<form class="" [formGroup]="registerForm" (ngSubmit)="save(registerForm.value)">
  <mat-card>
    
      <button *ngIf="!showFiller"  class="button-style" title="Hide Menu" (click)="drawer.toggle()"
      (click)="showFiller = !showFiller" >
          <i class="fa fa-angle-double-left"></i>
      </button>
  
      <button *ngIf="showFiller" class="button-style" title="Show Menu" (click)="drawer.toggle()" 
       (click)="showFiller = !showFiller" >
      <i class="fa fa-angle-double-right"></i>
      </button>
     <h4 style="padding-right:50%;"> New Requirement </h4>
  <mat-card-content>
    <table class="table_width">
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>EUC Reference Id.</mat-label>
              <input matInput formControlName="eucRefId">
              <mat-hint>E.g.: A-1008</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>RGS Id.</mat-label>
              <input matInput formControlName="rgsId" pattern="[0-9]*" required>
              <mat-error *ngIf="registerForm.controls.rgsId.hasError('required')">Please provide RGS Id.</mat-error>
              <mat-error *ngIf="registerForm.controls.rgsId.hasError('pattern')">Please provide numeric RGS Id.</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Requirement Id.</mat-label>
              <input matInput formControlName="reqId" required>
              <mat-error *ngIf="registerForm.controls.reqId.hasError('required')">Please provide Requirement Id.</mat-error>
              <mat-error *ngIf="registerForm.controls.rgsId.hasError('pattern')">Please provide numeric Requirement Id.</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Account</mat-label>
              <input matInput formControlName="account">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Position Owner</mat-label>
              <input matInput formControlName="positionOwner" required>
              <mat-error *ngIf="registerForm.controls.positionOwner.hasError('required')">Please provide the name of
                the owner for this position</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Site</mat-label>
               <mat-select formControlName="site">
                  <mat-option *ngFor="let val of site" [value]="val.value">
                      {{val.viewValue}}
                    </mat-option>
              </mat-select>
              </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Open Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="openDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker touchUi #picker></mat-datepicker>
              <mat-error *ngIf="registerForm.controls.openDate.hasError('required')">Please provide open date</mat-error>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="outline">
              <mat-label>Start Date</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="startDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker2></mat-datepicker>
              <mat-error *ngIf="registerForm.controls.openDate.hasError('required')">Please provide start date</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput formControlName="location">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Position</mat-label>
              <input matInput formControlName="position">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Skill Category</mat-label>
               <input matInput  formControlName="skillCategory" required
                   [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredSkillLists | async" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-autocomplete> 
                <mat-error *ngIf="registerForm.controls.skillCategory.hasError('required')">Please provide skill category
                    </mat-error>
             </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Main Skill</mat-label>
              <input matInput formControlName="mainSkill" required>
              <mat-error *ngIf="registerForm.controls.mainSkill.hasError('required')">Please provide Main Skill
                </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Additional Skills</mat-label>
              <input matInput formControlName="additionalSkill">
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                  <mat-label>Experience Band</mat-label>
                  <mat-select formControlName="expBand" required>
                      <mat-option *ngFor="let exps of expBand" [value]="exps.value">
                        {{exps.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerForm.controls.expBand.hasError('required')">Please provide Experience Band
                      </mat-error>
                </mat-form-field>
              </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Domain</mat-label>
              <input matInput formControlName="domain">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Project Name</mat-label>
              <input matInput formControlName="projectName">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Requirement Type</mat-label>
              <input matInput formControlName="reqType">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Requirement Class</mat-label>
              <input matInput formControlName="reqClass">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Contractor</mat-label>
              <mat-select formControlName="contractor">
                <mat-option *ngFor="let value of yesNoList.value" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Trainee</mat-label>
              <mat-select formControlName="trainee">
                <mat-option *ngFor="let value of yesNoList.value" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Revenue Within Quarter</mat-label>
              <mat-select formControlName="revenueWithinQtr">
                <mat-option *ngFor="let value of yesNoList.value" [value]="value">
                  {{value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                  <mat-label>Requirement Status</mat-label>
                  
                  <mat-select formControlName="status">
                      <mat-option *ngFor="let val of status" [value]="val.value">
                          {{val.viewValue}}
                        </mat-option>
                  </mat-select>

                </mat-form-field>
              </td>
              <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Close Date</mat-label>
                    <input matInput formControlName="closedDate">
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Closed By</mat-label>
                      <input matInput formControlName="closedBy">
                    </mat-form-field>
                  </td>
            </tr>
      </table>
      <br />
      <button mat-raised-button type="reset" color="primary">Reset</button>
      <button mat-raised-button type="submit" color="primary">Submit</button>
    </mat-card-content>
  </mat-card>
</form>
</mat-drawer-content>
</mat-drawer-container>