<mat-card class="">
    <form class="signUp-form" [formGroup]="signUpForm" (ngSubmit)="login(signUpForm.value)">
        <mat-card> 
            <mat-card-title>Register User</mat-card-title>
            <mat-card-content>
      <table class="signUp-full-width" cellspacing="0">
       <tr>
          <td><mat-form-field class="signUp-full-width">
            <input matInput formControlName="employeeId" placeholder="TCS Employee Id"  required>
            <mat-error *ngIf="signUpForm.controls.employeeId.hasError('required')">Please provide Employee Id.</mat-error>
            </mat-form-field></td>
        </tr>

        <tr>
            <td><mat-form-field class="signUp-full-width">
              <input matInput formControlName="emailId" placeholder="TCS Email Id"  required>
              <mat-error *ngIf="signUpForm.controls.emailId.hasError('required')">Please provide TCS Email Id.</mat-error>
              </mat-form-field></td>
    
            </tr>

            <tr>
                <td><mat-form-field class="signUp-full-width">
                    <mat-select matInput formControlName="secretQuestion" placeholder="Choose your secret question">
                        <mat-option *ngFor="let question of secretQuestion" [value]="question.value">
                          {{question.viewValue}}
                        </mat-option>
                      </mat-select> </mat-form-field>
                </td>
                <td><mat-form-field class="signUp-full-width">
                    <input matInput formControlName="answer" placeholder="Answer"  required>
                    <mat-error *ngIf="signUpForm.controls.answer.hasError('required')">Please provide your Answer.</mat-error>
                    </mat-form-field></td>
              </tr>

            <tr>
                <td><mat-form-field class="signUp-full-width">
                  <input matInput formControlName="password" placeholder="Password"  type="password" required>
                  <mat-error *ngIf="signUpForm.controls.password.hasError('required')">Please provide Password.</mat-error>
                  </mat-form-field></td>
                <td><mat-form-field class="signUp-full-width">
                    <input matInput formControlName="confirmPassword" placeholder="Re enter Password"  type="password" required>
                    <mat-error *ngIf="signUpForm.controls.confirmPassword.hasError('required')">Please re enter Password.</mat-error>
                    </mat-form-field></td>
                </tr>

                
    <tr>
        <td><button mat-raised-button type="submit" color="primary">Register User</button>
         </td>
        <td><button mat-raised-button (click)="Cancle()" color="primary">Cancle</button> </td>
   </tr>
 </table>
     </mat-card-content>
    </mat-card>
    </form>
</mat-card>