<mat-card class="example-card">
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form class="">
      <mat-form-field class="">
        <input matInput #postalCode placeholder="Employee Id." value="">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-select placeholder="Title">
          <mat-option *ngFor="let value of salutation.value" [value]="value">
            {{value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="First Name" value="">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Middle Name" value="">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput placeholder="Last Name" value="">
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field class="">
        <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <p>
        <mat-form-field class="">
          <textarea matInput placeholder="Address"></textarea>
        </mat-form-field>
        <mat-form-field class="">
          <textarea matInput placeholder="Address 2"></textarea>
        </mat-form-field>
      </p>

      <table class="" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="">
              <input matInput placeholder="City">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="">
              <input matInput placeholder="State">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="">
              <input matInput placeholder="Country">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="">
              <input matInput #postalCode maxlength="6" placeholder="Postal Code" value="">
              <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="">
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="Phone Number">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="">
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="Alternate Phone Number">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-card-title>Upload Resume</mat-card-title>
    <div class="center">
      <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <span>optional content (don't set headertext then)</span>
      </file-drop>
      <div class="upload-table">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i=index">
              <td><strong>{{ item.relativePath }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>