table {
   column-span: 5px;
 }

.mat-form-field {
    font-size: 20px;
}
.button-right .button-group {
    position: absolute;
    right: 0px;
    margin: 0;
  }

  .button-style{
    cursor: pointer;
    margin-right: 250px;
    font-size:25px;
    color:black;
  }

  .button-style-update{
    cursor: pointer;
    font-size:20px;
    color:gray;
  }
  