<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="sidenav-container" mode="side" opened>
      <mat-nav-list>
        <mat-list-item>
          <button mat-icon-button routerLink="/home">
            <mat-icon>dashboard</mat-icon>
          </button>
          <a mat-button [matMenuTriggerFor]="dashboardmenu">Dashboard</a>
          <mat-menu #dashboardmenu="matMenu">
            <a routerLink="/home" mat-menu-item>
            <mat-icon>dashboard </mat-icon> Skill Wise
           </a>
           <a routerLink="/home/domainWise/domainWise" mat-menu-item>
            <mat-icon>domain</mat-icon>Domain Wise
           </a>
           <a routerLink="/home/ownerWise/ownerWise" mat-menu-item>
            <mat-icon>filter_list</mat-icon>Owner Wise
           </a>
            <a routerLink="/home/projectWise/projectWise" mat-menu-item>
            <mat-icon>filter_list</mat-icon> Project Wise
            </a>
            <a routerLink="/home/monthWise/monthWise" mat-menu-item>
              <mat-icon>filter_list</mat-icon> Ageing Report
              </a>
            <a routerLink="/home/customFilter/customFilter"  mat-menu-item>
            <mat-icon>search</mat-icon>Custom Dates
            </a>
          </mat-menu>
  </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/newreq">
            <mat-icon>border_color  </mat-icon>   New Requirement 
          </button>
       </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/listdetails">
            <mat-icon>list</mat-icon> Requirement List
          </button>
         </mat-list-item>
        <mat-divider></mat-divider>
       <mat-list-item>
          <button mat-icon-button routerLink="/register">
            <mat-icon>add_box</mat-icon> Register
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button mat-icon-button routerLink="/list">
            <mat-icon>list</mat-icon> List
          </button>
      </mat-list-item>
     <mat-divider></mat-divider>
        <mat-list-item>
         <mat-icon>details</mat-icon>
           <a mat-button [matMenuTriggerFor]="profileMenu">My Profile</a>
          <mat-menu #profileMenu="matMenu">
            <a routerLink="/updateProfile" mat-menu-item>
              <mat-icon>person</mat-icon> Update Profile
            </a>
            <a routerLink="/logout" mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>Logout
            </a>
          </mat-menu>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-nav-list>
      
    </mat-drawer>
  <mat-drawer-content>
    <mat-card-content>
        <div class="welcome_header">
            <h5>Welcome {{username}}  </h5> 
           </div>

        <button *ngIf="!showFiller"  class="button-style" title="Hide Menu" (click)="drawer.toggle()"
        (click)="showFiller = !showFiller" >
    <i class="fa fa-angle-double-left"></i>
   </button>

  <button *ngIf="showFiller" class="button-style" title="Show Menu" (click)="drawer.toggle()" 
     (click)="showFiller = !showFiller" >
      <i class="fa fa-angle-double-right"></i>
   </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <button class="button-style" title="Download to Excel" (click)="downloadToExcel()">
      <i class="fa fa-file-excel-o"></i>
    </button>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="" style="column-width:20%;">
        <ng-container matColumnDef="rgsId" style="column-width:20%;">
          <th mat-header-cell  style="column-width:20%;" *matHeaderCellDef mat-sort-header > Rgs Id. </th>
          <td mat-cell style="columns: width 20px;column-span: 20px;" *matCellDef="let element"> {{element.rgsId}} </td>
        </ng-container>
        <ng-container matColumnDef="reqId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Requirement Id. </th>
          <td mat-cell *matCellDef="let element"> {{element.reqId}} </td>
        </ng-container>
        <mat-divider [inset]="true"></mat-divider>
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
          <td mat-cell *matCellDef="let element"> {{element.account}} </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container matColumnDef="positionOwner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
          <td mat-cell *matCellDef="let element"> {{element.positionOwner}} </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container matColumnDef="openDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Open Date </th>
          <td mat-cell *matCellDef="let element"> {{element.openDate}} </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>
        <mat-divider [vertical]="true"></mat-divider>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="skillCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Skill Category </th>
          <td mat-cell *matCellDef="let element"> {{element.skillCategory}} </td>
        </ng-container>
        <ng-container matColumnDef="mainSkill">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Skill </th>
          <td mat-cell *matCellDef="let element"> {{element.mainSkill}} </td>
        </ng-container>
        <ng-container matColumnDef="additionalSkill">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Additional Skills </th>
          <td mat-cell *matCellDef="let element"> {{element.additionalSkill}} </td>
        </ng-container>
        <ng-container matColumnDef="domain">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Domain </th>
          <td mat-cell *matCellDef="let element"> {{element.domain}} </td>
        </ng-container>
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
          <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
        </ng-container>
        <ng-container matColumnDef="expBand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
          <td mat-cell *matCellDef="let element"> {{element.expBand}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Requirement Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td  mat-cell *matCellDef="let element">
              <button class="button-style-update" title="Update Requirements" (click)="updateReq(element)">
            <i class="fa fa-edit"></i>
            </button>
           
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnHeadersOrder"></tr>
        <tr mat-row *matRowDef="let row; columns: columnHeadersOrder;" ></tr>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
    </div>
    <br />
    <!-- <button mat-button routerLink="/home">
      <mat-icon>chevron_left</mat-icon><span style="text-align: center;">Back</span>
    </button> -->
    <button mat-button>
      <mat-icon>chevron_left</mat-icon><span style="text-align: center;" (click)="backToPrevPage()">Back</span>
    </button> 
    </mat-card-content>
 </mat-drawer-content>
</mat-drawer-container>